<!DOCTYPE html> 
<html>
<head>	
	<title> <%= title %> </title>
</head>
<body>

<form method="get" action="/dvds">
	Dvd Title: <input type="text" name="title">
	Award Title: <SELECT name="award"><option>Oscar</option><option>Grammy</option></SELECT>
	<input type="submit" value="Search">
</form>

</body>
</html>